<%= render :partial => "new_recipe_modal" %>
<ul class="thumbnails">
  <% @user_recipes.each_index do |index| %>
      <% user_recipe = @user_recipes[index] %>
      <% recipe = user_recipe.recipe %>
      <li class="span3" id="ur_<%=user_recipe.id%>">

        <%= render :partial => 'recipe_details_modal', :locals => {:recipe => recipe} %>

        <% provisional = recipe.is_ready? ? "corrected thumbnail" : "provisional thumbnail" %>
        <div class="<%= provisional %>" style="height:240px">
          <%= get_image recipe %>

          <div class="recipe-card-title">
            <% if recipe.title.length > 36 %>
                <%= recipe.title[0..35] + "..." %>
            <% else %>
                <%= recipe.title %>
            <% end %>
          </div>

          <div class="recipe-footer">
            <div class="recipe-meta">
              <%= render :partial => 'recipe_meta', :locals => {:user_recipe => user_recipe} %>
            </div>
            <div class="recipe-options">
              <%= render :partial => 'recipe_options', :locals => {:user_recipe => user_recipe} %>
            </div>
          </div>
        </div>
      </li>
  <% end %>
</ul>

<%= will_paginate(@user_recipes) %>

