%h1 WeCook
= get_user_display_name
= link_to "Sign Out", signout_path
.add_button= link_to 'Add +', new_recipe_path

#recipe_list

  - @recipes.each_index do |idx|
  - recipe = @recipes[idx]
    %div{:class => get_class_for_inline_recipe(recipe)}
      .recipeimage= image_tag(recipe.sample_image, :class => 'list_image')
      .recipetitle= get_title_link(recipe)
      .recipemeta
        = render :partial => 'recipe_meta', :locals => {:recipe => recipe}
    %div{:class=> "inline_recipe", :id => "r_#{recipe.id}", :style => "display:none"}

.p= will_paginate @recipes



