%div{:class => "left_nav", :id => "rindex-left-nav"}
  = render :partial => 'rindex_left_nav'

.main_content
  .add_button= link_to 'Add +', new_recipe_path
  #recipe_list
    - if @user_recipes.empty?
      .p= "Come on. Save some recipes! Use the add link on the right."
    - else
    - @user_recipes.each_index do |idx|
    - user_recipe = @user_recipes[idx]
    - recipe = user_recipe.recipe
      %div{:class => get_class_for_inline_recipe(recipe), :id => "ur_#{user_recipe.id}"}
        .recipeimage= image_tag(recipe.sample_image, :class => 'recipe-image')
        .recipetitle= get_title_link(recipe)
        - if my_recipe(user_recipe, params[:p])
          .recipeoptions
            = render :partial => 'recipe_options', :locals => {:user_recipe => @user_recipes[idx]}

        .recipemeta
          = render :partial => 'recipe_meta', :locals => {:user_recipe => @user_recipes[idx]}
      %div{:class=> "inline_recipe", :id => "r_#{recipe.id}", :style => "display:none"}

  .p= will_paginate @user_recipes



