<div id="recipe_detail">

  <%= image_tag @recipe.sample_image, :class => 'center' %>
  <h1><%= @recipe.title %></h1>

  <%= render :partial => 'recipe_details' %>

  <div class="section_header"></div>
  <%= link_to "Read original recipe at #{@recipe.url.split('/')[2]}", @recipe.url, :target => '_blank' %>
</div>

<%= link_to 'Back', recipes_path %>
