<div id="recipe_detail">

  <%= image_tag @recipe.sample_image, :class => 'center' %>
  <h1><%= @recipe.title %></h1>

  <%= render :partial => 'recipe_details' %>
</div>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
