
<script>
    $(document).ready(function(){

        $("#provisional_info_dialog").dialog({
            autoOpen: false,
            show: "blind",
            hide: "fade",
            closeText: "",
            minHeight: 60,
            minWidth: 350,
            resizable: false,
            draggable: false,
            dialogClass: 'no_title_dialog'
        });

        $("#provisional_help_dialog").dialog({
            autoOpen: "<%= @show %>" == "true",
            show: "blind",
            hide: "fade",
            closeText: "",
            resizable: false,
            draggable: false,
            dialogClass: 'no_title_dialog',
            buttons: {
                "Don't show me this again": function() {
                    $('#user_help_field').val(1);
                    $( this ).dialog( "close" );
                },
                "OK": function() {
                    $( this ).dialog( "close" );
                }
            }
        });

        var codeToDisplayMap = { "in" : "Ingredient", "pr" : "Direction", "ot" : "Other"};


        $(".prov-line").click(
                function(event) {
                    var currentClass = $(this).attr('recipe-class');
                    var nextClass;
                    if (currentClass == "ot") {
                        nextClass = "in";
                    } else if (currentClass == "in") {
                        nextClass = "pr"
                    } else {
                        nextClass = "ot";
                    }
                    $(this).attr('recipe-class', nextClass);

                    //change class of label and recipe-text
                    $(this).children().removeClass(currentClass);
                    $(this).children().addClass(nextClass);

                    $('#text_field').val($('#text_field').val() + '|' + $(this).attr('recipe-line') + '=' + nextClass);
                }
        );
    })
</script>



<% class_to_display = {"pr" => "Direction", "ot" => "Other", "in" => "Ingredient"} %>

<div class="container">
  <div>
    <h4><%= render :partial => 'recipe_header' %></h4>

    <% @recipe.get_lines_with_corrected_prediction(@recipe.corrections).each_with_index do |map,idx| %>
        <% id_string = idx.to_s %>
        <% recipe_class = map[:class] %>

        <div class = "row prov-line" recipe-class="<%= recipe_class %>" recipe-line="<%= id_string %>">
            <div class="span1 offset1 label <%= recipe_class %>">
                <%= class_to_display[recipe_class] %>
            </div>

            <div class="span6 prov-text <%= recipe_class %>" >
            <%= map[:line] %>
            </div>
        </div>
    <% end %>

    <br/>
    <div class="clear"></div>
    <%= form_tag(submit_provisional_recipe_path(@recipe)) do %>
        <%= text_field_tag :changed, nil, :id => "text_field", :style => "display:none" %>
        <%= text_field_tag :user_help, nil, :id => "user_help_field", :style => "display:none"%>
        <%= submit_tag 'Save Changes', :class => "btn btn-primary" %>
    <% end %>
  </div>

  <div id="provisional_info_dialog">
    <p>hello</p>
  </div>

  <div id="provisional_help_dialog">
    <p>We have guessed the ingredients and the directions of the recipe you had saved. Click on any mistake to correct it. </p>
    <p>Don't forget to save the recipe once you are done!</p>
  </div>
</div>



