
<script>
    $(document).ready(function(){

        $("#provisional_info_dialog").dialog({
            autoOpen: false,
            show: "blind",
            hide: "fade",
            closeText: "",
            minHeight: 60,
            minWidth: 350,
            resizable: false,
            draggable: false,
            dialogClass: 'no_title_dialog'
        });

        $("#provisional_help_dialog").dialog({
            autoOpen: "<%= @show %>" == "true",
            show: "blind",
            hide: "fade",
            closeText: "",
            resizable: false,
            draggable: false,
            dialogClass: 'no_title_dialog',
            buttons: {
                "Don't show me this again": function() {
                    $('#user_help_field').val(1);
                    $( this ).dialog( "close" );
                },
                "OK": function() {
                    $( this ).dialog( "close" );
                }
            }
        });

        var code_to_display_map = { "in" : "Ingredient", "pr" : "Direction", "ot" : "Other"};


        $(".prov_line").click(
                function(event) {
                    var current_class = $(this).attr('class');
                    var next_class;
                    if (current_class == "ot") {
                        next_class = "in";
                    } else if (current_class == "in") {
                        next_class = "pr"
                    } else {
                        next_class = "ot";
                    }
                    $(this).removeClass(current_class);
                    $(this).addClass(next_class);
                    $('#text_field').val($('#text_field').val() + '|' + $(this).attr('id').replace("prov_line","") + '=' + next_class);

                    $("#provisional_info_dialog").dialog("option", "position", 'center');
                    $("#provisional_info_dialog").dialog("open");

                    $("#provisional_info_dialog p").html("<div id='provisional_info_text'> You changed this line from " +
                            code_to_display_map[current_class] +
                            " to " +
                            code_to_display_map[next_class] +
                            "</div>");


                    setTimeout(
                            "$('#provisional_info_dialog').dialog('close')",
                            1000);
                }
                );
    })
</script>




<div id="prov_left" class="left_nav">
  <div class="in">Ingredients</div>
  <div class="pr">Directions</div>
  <div class="ot">Other</div>
</div>

<div id="prov_middle" class="main_content">

  <%= render :partial => 'recipe_header' %>
  <% @recipe.get_lines_with_prediction.each_with_index do |map,idx| %>
      <% id_string = idx.to_s %>
      <div id= "<%= 'prov_line'+id_string %>" class="<%= map[:class]%> prov_line" >
        <%=  map[:line] %>
      </div>
  <% end %>

  <br/>
  <div class="clear"></div>
  <%= form_tag(submit_provisional_recipe_path(@recipe)) do %>
      <%= text_field_tag :changed, nil, :id => "text_field", :style => "" %>
      <%= text_field_tag :user_help, nil, :id => "user_help_field", :style => "display:none"%>
      <%= submit_tag 'Save Changes' %>
  <% end %>

</div>

<div id="provisional_info_dialog">
  <p>hello</p>
</div>

<div id="provisional_help_dialog">
  <p>We have guessed the ingredients and the directions of the recipe you had saved. Click on any mistake to correct it. </p>
  <p>Don't forget to save the recipe once you are done!</p>
</div>




