<script>
    $(document).ready(function(){

        $("#provisional_info_dialog").dialog({
            autoOpen: false,
            show: "blind",
            hide: "fade",
            closeText: "",
            minHeight: 60,
            minWidth: 350
        });

        var code_to_display_map = { "in" : "Ingredient", "pr" : "Direction", "ot" : "Other"};

        $("div.prov :first-child").click(
                function(event) {
                    var current_class = $(this).attr('class');
                    var next_class;
                    if (current_class == "ot") {
                        next_class = "in";
                    } else if (current_class == "in") {
                        next_class = "pr"
                    } else {
                        next_class = "ot";
                    }
                    $(this).removeClass(current_class);
                    $(this).addClass(next_class);
                    $('#text_field').val($('#text_field').val() + '|' + $(this).attr('id').replace("prov_line","") + '=' + next_class);

                    $("#provisional_info_dialog").dialog("option", "position", 'center');
                    $("#provisional_info_dialog").dialog("open");

                    $("#provisional_info_dialog p").html("<div id='provisional_info_text'> You changed this line from " +
                                    code_to_display_map[current_class] +
                                    " to " +
                                    code_to_display_map[next_class] +
                                    "</div>");


                    setTimeout(
                            "$('#provisional_info_dialog').dialog('close')",
                            1000);
                }
                );
    })
</script>

<%= render :partial => 'recipe_header' %>

<% @recipe.get_lines_with_prediction.each_with_index do |map,idx| %>
    <% id_string = idx.to_s %>

    <div id= "<%='prov_'+id_string %>" class="prov">

      <div id= "<%= 'prov_line'+id_string %>" class="<%= map[:class]%>" >
        <%=  map[:line] %>
      </div>


    </div>
<% end %>

<div id="provisional_info_dialog">
  <p>hello</p>
</div>

<br/>
<%= form_tag(submit_provisional_recipe_path(@recipe)) do %>
    <%= text_field_tag :changed, nil, :id => "text_field", :style => "display:none" %>
    <%= submit_tag 'Save Changes' %>
<% end %>
