<div class="well">
  <div id="user-sign-up">
    <h2>Sign Up</h2>
    <%= form_for(@user) do%>
        <div class="<%= class_for_form(@user, :name) %>">
          <div class="controls">
            <%= text_field_tag("user[name]", @user[:name], :class=>"input-medium", :placeholder => "Name") %>
            <br/>
            <div class="help-inline">
              <%= error_message_for_form(@user, :name)%>
            </div>
          </div>
        </div>

        <div class="<%= class_for_form(@user, :email) %>">
          <div class="controls">
            <%= text_field_tag("user[email]", @user[:email], :class=>"input-medium", :placeholder => "Email") %>
            <br/>
            <div class="help-inline">
              <%= error_message_for_form(@user, :email)%>
            </div>
          </div>
        </div>

        <div class="<%= class_for_form(@user, :password) %>">
          <div class="controls">
            <%= password_field_tag("user[password]", nil, :class=>"input-medium", :placeholder => "Password") %>
            <br/>
            <div class="help-inline">
              <%= error_message_for_form(@user, :password)%>
            </div>
          </div>
        </div>

        <div class="<%= class_for_form(@user, :password_confirmation) %>">
          <div class="controls">
            <%= password_field_tag("user[password_confirmation]", nil, :class=>"input-medium",
                                   :placeholder => "Confirm Password") %>
            <br/>
            <div class="help-inline">
              <%= error_message_for_form(@user, :password_confirmation)%>
            </div>
          </div>
        </div>
        <%= submit_tag "Join", :class=>"btn btn-primary" %>
    <% end %>
  </div>
</div>
