<div class="well span7 offset2" >
  <div class="row">

    <div id="social-login" class="span3" align="center">
      <%= link_to image_tag("LoginWithFacebookButton.jpg"),  "/auth/facebook" %>
    </div>

    <div id="email-login" class="span3">
      <%= form_tag login_path do%>
          <% control_group_class = "control-group" %>
          <% if params[:loginfail] %>
              <% control_group_class += " error" %>
          <% end %>

          <div class="<%=control_group_class%>">
            <%= label_tag :email, "", :class=>"control-label"%>
            <div class="controls">
              <%= text_field_tag :email, params[:email], :class=>"input-medium", :placeholder => "Email"%>
            </div>
          </div>

          <div class="<%=control_group_class%>">
            <%= label_tag :password, "", :class=>"control-label" %>
            <div class="controls">
              <%= password_field_tag :password, params[:password], :class=>"input-medium", :placeholder => "Password"%>
              <% if params[:loginfail] %>
                  <div class="help-inline">
                    Incorrect email or password.
                  </div>
              <% end %>

            </div>
          </div>
          <%= submit_tag "Sign in", :class=>"btn btn-primary" %>
      <% end %>
    </div>

  </div>
</div>