<div class="well" align="center">
  <%= link_to image_tag("LoginWithFacebookButton.jpg"),  "/auth/facebook" %> <br/><br/>
  <p id="welcome_or" align="center" style="text-align:center;">Or</p>

  <div align="center">
    <%= form_tag login_path do%>
        <% control_group_class = "control-group" %>
        <% if params[:loginfail] %>
            <% control_group_class += " error" %>
        <% end %>

        <div class="<%=control_group_class%>">
          <%= label_tag :email, "", :class=>"control-label"%>
          <div class="controls">
            <%= text_field_tag :email, params[:email], :class=>"input-medium", :placeholder => "Email"%>
          </div>
        </div>

        <div class="<%=control_group_class%>">
          <%= label_tag :password, "", :class=>"control-label" %>
          <div class="controls">
            <%= password_field_tag :password, params[:password], :class=>"input-medium", :placeholder => "Password"%>
            <% if params[:loginfail] %>
                <div class="help-inline">
                  Incorrect email or password.
                </div>
            <% end %>

          </div>
        </div>
        <%= submit_tag "Sign in", :class=>"btn btn-primary" %>
    <% end %>
  </div>
</div>