<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Cooks" %></title>

  <!--<%= stylesheet_link_tag "themes/smoothness/jquery-ui-1.8.13.custom" %>-->

  <% %w(recipe_index provisional_recipe recipe_details recipe_tags).each do |css_file| %>
    <%= stylesheet_link_tag css_file %>
  <% end %>

  <%= javascript_include_tag 'application.js'%>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag 'jquery.min.js' %>
  <%= javascript_include_tag 'jquery-ui.min.js' %>
  <%= csrf_meta_tags %>

</head>

<script>
    $(document).ajaxSend(function(e, xhr, options) {
        var token = $("meta[name='csrf-token']").attr("content");
        xhr.setRequestHeader("X-CSRF-Token", token);
    });
</script>

<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "WeCook", root_path, :class => "brand" %>

      <div class="nav-collapse">

        <% if current_user %>
            <ul class="nav">
              <li class="<%=get_link_class :all, params[:p]%>">
                <%= link_to "Discover", recipes_path(:p => "all") %>
              </li>
              <li class="<%=get_link_class :mine, params[:p]%>">
                <%= link_to "Saved Recipes", recipes_path %>
              </li>
              <li class="<%=get_link_class :add, params[:p]%>">
                <%= link_to 'Add Recipe', new_recipe_path %>
              </li>
            </ul>
        <% end %>

        <ul class="nav pull-right">
          <% if current_user %>
              <li><%= link_to get_user_display_name.strip.capitalize, "#" %></li>
              <li class="divider-vertical"></li>
              <li><%= link_to "Sign Out", signout_path %></li>
          <% else %>
              <li><%= link_to "Create Account", new_user_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<% flash.each do |_, message| %>
    <div class="row">
      <div class="alert alert-success span6 offset3" style="text-align: center">
        <button class="close" data-dismiss="alert">×</button>
        <%= message %>
      </div>
    </div>
<% end %>


<%= yield %>

</body>
</html>
