<!DOCTYPE html>
<html>
<head>
  <title>Cooks</title>
  <%= stylesheet_link_tag "themes/smoothness/jquery-ui-1.8.13.custom" %>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'application.js' %>
  <%= javascript_include_tag 'rails.js' %>
  <%= javascript_include_tag 'jquery.min.js' %>
  <%= javascript_include_tag 'jquery-ui.min.js' %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'jsuri-1.1.0.min' %>
  <%= csrf_meta_tag %>
</head>

<script>
    $(document).ready(function(){
        $('.flash').animate({opacity : 0}, 2000);
    });
</script>

<body>
<div id="title">
  <div id="welcome_header">
    <div id="logo">
      <%= link_to "WeCook", root_path %>
     </div>
    <div id="welcome_right" class="welcome_nav">
      <% if current_user %>
          <%= get_user_display_name.strip %>
          <%= link_to "Sign Out", signout_path, :class => "welcome_nav_link" %>
      <% else %>
          <%= link_to "Create Account", new_user_path, :class => "welcome_nav_link" %>
      <% end %>
    </div>
    <% if current_user %>
    <div id="welcome_left" class="welcome_nav">
      <%= link_to "Discover", recipes_path(:p => "all"),
                  :class => "welcome_nav_link #{get_link_class :all, params[:p]}" %>
      <%= link_to "Saved Recipes", recipes_path,
                  :class => "welcome_nav_link #{get_link_class :mine, params[:p]} "%>
      <%= link_to 'Add Recipe', new_recipe_path, :class => "welcome_nav_link" %>
     </div>
     <% end %>
    <div class="clear"></div>
  </div>

</div>

<% flash.each do |name, message| %>
    <%= content_tag :div, message, :id => "flash_#{name}", :class => "flash", :align => "center" %>
<% end %>


<%= yield %>

<div id="footer" class="clear">
    <%= mail_to "wecook.us@gmail.com", "Feedback" %>
</div>

</body>
</html>
